<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static' , filename='dashboard.css')}}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

 {% include 'partials/header.html'%}

<main class="container">

    <!-- Add Note -->
    <form class="note-form" method="POST">
        <textarea rows="4" placeholder="Write your note..." name="user_note" required></textarea>
        <button type="submit">Add Note</button>
    </form>

    <!-- Notes -->
    <section class="notes">
        {% for note in notes %}
            <div class="note-card">
            <p>{{ note.note_content }}</p>
            <small>{{ note.created_at }}</small>
            <div class="actions">
                <a href="{{ url_for('edit_note',note_id=note.id)}}">
                    <ion-icon name="create-outline"></ion-icon>
                </a>
                <a href="{{ url_for('delete_note',note_id=note.id)}}">
                <ion-icon name="trash-outline"></ion-icon>
            </a>
            </div>
            </div>

        {% else %}
          <p>No Notes yet</p>
        
        {% endfor %}
    </section>

</main>

</body>
</html>
