<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static' , filename='dashboard.css')}}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

 {% include 'partials/header.html'%}

<main class="container">

    <!-- Update Note -->
    <form class="note-form" method="POST">
        <textarea rows="4" name="note_content" required>{{ note.note_content }}</textarea>
        <button type="submit">Update Note</button>
    </form>

</main>

</body>
</html>
