<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>

<div class="container">
    <form method="POST">
        <h2>Create Account</h2>
         
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" autocomplete="off" required>
        
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" autocomplete="off" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <label>Confirm Password</label>
        <input type="password" name="cpassword" placeholder="Confirm password" required>

        <button type="submit">Register</button>

        <p class="login-link">
            Already have an account?
            <a href="/login">Login</a>
        </p>

        {% with messages=get_flashed_messages(with_categories=True) %}
               {% for category,message in messages %}
               <p class="{{ category }}">{{ message }}</p>
               {% endfor %}
        {% endwith %}
       
    </form>
</div>

</body>
</html>
